@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    READ HEAD OFFICE<br />
    Gauteng<br />
    4 Handel Road, Ormonde, 2091<br />
    PO Box 30994, Braamfontein, 2017<br />
    <abbr title="Cell">T:</abbr>
    +27 87 237 7781<br />
    <abbr title="Fax">F:</abbr>
    +27 11 496 3625<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@read.co.za">info@read.co.za</a><br />
</address>