<h3>Administrative functions</h3>
<br />

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" id="adminControls">
    <div class="col mb-4">
        <a href="@Url.Action("EditMaterials", "Account")">
            <div class="card h-100">
                <img src="~/Resources/Other_Images/edit_document.png" class="card-img-top px-4 pt-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Manage materials</h5>
                    <p class="card-text">Controls for existing materials...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col mb-4">
        <a href="@Url.Action("ReviewMembers", "Account")">
            <div class="card h-100">
                <img src="~/Resources/Other_Images/edit_user.png" class="card-img-top px-4 pt-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Edit members</h5>
                    <p class="card-text">Approve new accounts, control existing accounts...</p>
                </div>
            </div>
        </a>
    </div>
</div>
