@model IEnumerable<u17004111_HW04.Models.FileModel>

<table class="table table-hover">
    <thead class="table thead-dark">
        <tr>
            <th>File name</th>
            <th></th>
            <th>Author</th>
            <th>Download</th>
        </tr>
    </thead>

    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td colspan="2">
                        @item.FileName
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @Html.ActionLink("Download", "Download", "File", new { fileName = item.FileName }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        }
    }

</table>
